# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.manifest
*.mo
*.pot
*.squashed-image
*.exc

# VS Code
.vscode/

# Output folders from the script (adjust names if you change them)
doublons_trouves/
photos_triees_par_date/

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows